In [1]:
import pandas as pd

In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
import pandas as pd

In [6]:
zoo_data = pd.read_csv("zoo.csv")
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [7]:
zoo_data.shape

(100, 18)

In [8]:
X=zoo_data.iloc[1,1:17]

NameError: name 'zoo_data' is not defined

In [1]:
X.head()

NameError: name 'X' is not defined

In [10]:
y=zoo_data.iloc[:,17]

In [11]:
y.shape

(100,)

In [12]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [1]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

NameError: name 'train_test_split' is not defined

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

NameError: name 'x' is not defined

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

NameError: name 'x' is not defined

In [6]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

NameError: name 'x' is not defined

In [7]:
X_train.shape

NameError: name 'X_train' is not defined

In [2]:
x_train.head()

NameError: name 'x_train' is not defined

In [3]:
zoo_classifier = DecisionTreeClassifier(random_state=0)

NameError: name 'DecisionTreeClassifier' is not defined

In [4]:
import pandas as pd

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
zoo_data = pd.read_csv("zoo.csv")
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [7]:
zoo_classifier = DecisionTreeClassifier(random_state=0)

In [8]:
zoo_classifier.fit(X_train,y_train)

NameError: name 'X_train' is not defined